
body{
background:url(../img/header-bg.jpeg);
background-attachment: fixed ;
color: #fff;
margin: 0;
}
.container{
max-width: 1460px;
margin-left: auto;
margin-right: auto;
}
.header-wrapper{
display: flex;
justify-content: space-between;
padding-top:37px;
align-items: center;
}
.phone-logo{
display: inline-block;
margin-right: 10px;
}
.back-call{
display: block;
font-size: 18px;
line-height: 30px;
color: #E4B564;
border: 1px solid #E4B564;
padding: 10px 25px;
}
.section-title {
margin-top: 0;
margin-bottom: 0;
font-weight: 700;
font-size: 50px;
line-height: 28px;
color: #FFFFFF;
}
.section-subtitle {
margin-top: 41px;
margin-bottom: 0;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}
.our-services{
margin-top: 125px;
}
.works {
margin-top: 40px;
display: grid;
grid-template-columns: repeat(6,1fr);
grid-auto-rows: minmax(468px,1fr);
gap: 34px 27px;
grid-template-areas:
"item1 item1 item2 item2 item3 item3"
"item4 item4 item4 item5 item5 item5";

}

.works-item{
display: flex;
align-items: center;
justify-content: center;
list-style: none;
text-align: center;
font-weight: 700;
font-size: 20px;
line-height: 28px;
}

.item1{
grid-area: item1;
background: #634F2C;
}
.item2{
    grid-area: item2;
background: #B4A385;
}
.item3{
    grid-area: item3;
background: #E4B564;
}
.item4{
    grid-area: item4;
background: #635A4A;
}
.item5{
    grid-area: item5;
background: #B08C4D;
}
.our-cars{
margin-top: 160px;

}
.cars-list {
margin-top: 94px;
margin-bottom: 0;
display: flex;
flex-direction: column;
flex-wrap: wrap;
gap: 30px 25px;
max-height: 950px;
}

.our-cars-item {
list-style: none;
font-size: 20px;
line-height: 25px;
padding-left: 50px;
padding-top: 45px;
}


.car1{
min-height: 313px;
background: #0E0E0E;
order: 1;
}
.car2{
min-height: 439px;
background: #242424;
order: 3;

}
.car3{
min-height: 255px;
background: #1F1F1F;
order: 5;
}
.car4{
background: #1F1F1F;
min-height: 560px;
order: 2;
}
.car5{
background: #E4B564;
min-height: 405px;
order: 4;
}
.car6{
background: #0E0E0E;
min-height: 313px;
order: 6;

}
.car7{
min-height: 277px;
background: #0A0909;
order: 7;
}
.our-project{
margin-top: 191px;
width: 100%;
background: url(../img/parallax-bg.jpeg);
background-attachment: fixed;
margin-bottom: 230px;
}

.our-project-header {
padding-top: 172px;    
display: flex;
justify-content: space-between;
align-items: center;
}
.our-project-link {
display: block;
padding: 10px 40px; 
font-size: 18px;
line-height: 30px;
color: #E4B564;
border: 1px solid #E4B564;
}
.our-project-list {
margin-bottom: 0;
margin-top: 72px;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-auto-rows: minmax(391px,1fr);
}

.our-project-item {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
list-style: none;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #FFFFFF;
}

.project1{
background: #634F2C;
}
.project2{
background: rgba(232, 210, 171, 0.76);
padding-left: 80px;
padding-right: 80px;
}
.project3{
background: #E4B564;
}
.project4{
background: #635A4A;
}
.project5{
background: #B08C4D;
}
.project6{
background: #634F2C;
}
